In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
#style.use('ggplot')
%matplotlib inline

import plotly
import plotly.express as px
import plotly.graph_objects as go

import cufflinks as cf
import plotly.offline as pyo
from plotly.offline import init_notebook_mode,plot,iplot

import folium

In [8]:
pyo.init_notebook_mode(connected=True)
cf.go_offline()

In [9]:
df = pd.read_excel(r"/home/lion/Downloads/COVID-19-Data-Analyisis-master/Covid cases in India.xlsx")

In [10]:
df

,S. No.,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
0,1,Andhra Pradesh,12,0,1,0
1,2,Chhattisgarh,6,0,0,0
2,3,Delhi,38,1,6,1
3,4,Gujarat,43,0,0,3
4,5,Haryana,16,14,11,0
5,6,Himachal Pradesh,4,0,0,1
6,7,Karnataka,20,0,3,2
7,8,Kerala,131,7,11,0
8,9,Madhya Pradesh,23,0,0,1
9,10,Maharashtra,144,3,15,4
10,11,Odisha,3,0,0,0
11,12,Puducherry,1,0,0,0
12,13,Punjab,29,0,0,1
13,14,Rajasthan,41,2,3,0
14,15,Tamil Nadu,32,3,1,1
15,16,Telengana,34,11,1,0
16,17,Chandigarh,7,0,0,0
17,18,Jammu and Kashmir,18,0,1,1
18,19,Ladakh,13,0,0,0
19,20,Uttar Pradesh,42,1,11,0
20,21,Uttarakhand,4,0,0,0
21,22,West Bengal,11,0,0,1
22,23,Bihar,7,0,0,1
23,24,Mizoram,1,0,0,0
24,25,Goa,6,0,0,0
25,26,Manipur,1,0,0,0

In [11]:
df.drop(['S. No.'], axis = 1, inplace = True)

In [12]:
df

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
0,Andhra Pradesh,12,0,1,0
1,Chhattisgarh,6,0,0,0
2,Delhi,38,1,6,1
3,Gujarat,43,0,0,3
4,Haryana,16,14,11,0
5,Himachal Pradesh,4,0,0,1
6,Karnataka,20,0,3,2
7,Kerala,131,7,11,0
8,Madhya Pradesh,23,0,0,1
9,Maharashtra,144,3,15,4
10,Odisha,3,0,0,0
11,Puducherry,1,0,0,0
12,Punjab,29,0,0,1
13,Rajasthan,41,2,3,0
14,Tamil Nadu,32,3,1,1
15,Telengana,34,11,1,0
16,Chandigarh,7,0,0,0
17,Jammu and Kashmir,18,0,1,1
18,Ladakh,13,0,0,0
19,Uttar Pradesh,42,1,11,0
20,Uttarakhand,4,0,0,0
21,West Bengal,11,0,0,1
22,Bihar,7,0,0,1
23,Mizoram,1,0,0,0
24,Goa,6,0,0,0
25,Manipur,1,0,0,0

In [16]:
df['Total Cases']=df['Total Confirmed cases (Indian National)']+df['Total Confirmed cases ( Foreign National )']

In [14]:
df

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,Total Cases
0,Andhra Pradesh,12,0,1,0,24
1,Chhattisgarh,6,0,0,0,12
2,Delhi,38,1,6,1,76
3,Gujarat,43,0,0,3,86
4,Haryana,16,14,11,0,32
5,Himachal Pradesh,4,0,0,1,8
6,Karnataka,20,0,3,2,40
7,Kerala,131,7,11,0,262
8,Madhya Pradesh,23,0,0,1,46
9,Maharashtra,144,3,15,4,288
10,Odisha,3,0,0,0,6
11,Puducherry,1,0,0,0,2
12,Punjab,29,0,0,1,58
13,Rajasthan,41,2,3,0,82
14,Tamil Nadu,32,3,1,1,64
15,Telengana,34,11,1,0,68
16,Chandigarh,7,0,0,0,14
17,Jammu and Kashmir,18,0,1,1,36
18,Ladakh,13,0,0,0,26
19,Uttar Pradesh,42,1,11,0,84
20,Uttarakhand,4,0,0,0,8
21,West Bengal,11,0,0,1,22
22,Bihar,7,0,0,1,14
23,Mizoram,1,0,0,0,2
24,Goa,6,0,0,0,12
25,Manipur,1,0,0,0,2